{
    "semi": false,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "parser": "html"
            }
        }
    ]
}